<div class="container-fluid" style="height: 90vh; position: absolute">
  <div class="row justify-content-center align-content-center h-100">
    <div
      class="h-50 col-4 bg-light card justify-content-center align-items-center"
    >
      <h5 class="card-title">{{ title }}</h5>
      <div class="input-group w-75 m-2">
        <input
          type="text"
          class="form-control"
          placeholder="name"
          [(ngModel)]="user.name"
        />
      </div>
      <div class="input-group w-75 m-2">
        <input
          type="password"
          class="form-control"
          placeholder="password"
          [(ngModel)]="user.password"
        />
      </div>
      <button type="submit" class="w-75 btn btn-primary m-3" (click)="login()">
        Login
      </button>

      <div
        id="liveToast"
        class="toast-container position-fixed top-0 end-0 p-3"
        role="alert"
      >
        {{ responce }}
      </div>

      <!--       <ngb-toast *ngIf="show" header="Hello" [autohide]="false" (hidden)="show=false">
		I am a simple static toast with a header.
	</ngb-toast> -->
    </div>
  </div>
</div>
