img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 70px;
  border-radius: 75%;
}
.container {
  position: fixed;
  background-color: lightsteelblue;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loginBox {
  background-color: #ffffff;
  height: 35%;
  width: 450px;
  min-width: 450px;
  max-width: 450px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
input {
  height: 10%;
  width: 75%;
  padding-left: 10px;
  font-family: "Roboto", sans-serif;
  border: 1px solid steelblue;
  border-radius: 5px;
}
h2 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: steelblue;
}

button {
  background-color: steelblue;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: larger;
  height: 100%;
  width: 50%;
  border: none;
  border-radius: 5px;
}
.row {
  height: 12%;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

a {
  font-family: "Roboto", sans-serif;
  font-size: larger;
  font-weight: bold;
}
a:hover {
  color: steelblue;
}
